@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root{
    --bg-gray:#ddd;
    --color-primary: #4D41C0;
    --white: #fff;
    --text-gray: #4A4A4A;
    --text-light-gray: #aaa;
    --staryellow: #ffbb3a
}

*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,body{
    background-color: var(--bg-gray);
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

header{
    background-color: var(--color-primary);
    color: var(--white);
    height: 60px;
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav,h1{
    font-size: 24px;
    font-weight: 700;
}

nav,a{
    font-size: 12px;
    font-weight: 400;
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

.dsmovie-contact-container{
    display: flex;
    align-items: center;
}
.dsmovie-contact-container img{
    margin-right: 10px;
}
#dsmovie-card-list{
    padding: 0 10px;
}

.dsmovie-card{
    width: 100%;
}
.dsmovie-card img{
    width: 100%;
    border-radius: 8px 8px 0 0;
}
.dsmovie-card-description{
    padding: 10px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    justify-content: space-between;
    border-radius: 0 0 8px 8px;
    height: 190px;
}
.dsmovie-card-description h3{
    margin-bottom: 23px;
    font-size: 14px;
    font-weight: 700;
}

.decription-card-decripition-bottom img{
    width: 22px;
}

.decription-card-decripition-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.decription-card-decripition-bottom h4{
    color: var(--staryellow);
    font-size: 16px;
    font-weight: 700;
}
.decription-card-decripition-bottom p{
    font-size: 12px;
    width: 400;
    color: var(--text-light-gray);
    margin-bottom: 10px;
}

.dsmovie-btn, .dsmovie-btn:hover{
    width: 180px;
    height: 40px;
    background-color: var(--color-primary);
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 0;
}


.dsmovie-for-container{
    padding: 40px 0;
    max-width: 480px;
}

.dsmovie-form-description{
    background-color: var(--white);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 8px 8px;
}
.dsmovie-form{
    width: 100%;
}
.dsmovie-form-btn-container{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.ds-movie-form-group{
    margin-bottom: 20px;
}
.ds-movie-form-group label{
    font-size: 12px;
    color: var(--text-light-gray);
}
.dsmovie-form-description h3{
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 20px;
}
.dsmovie-pagination-container{
    padding: 15px 0;
    display: flex;
    justify-content: center;
}
.dsmovie-pagination-box{
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dsmovie-pagination-box button{
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--color-primary);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dsmovie-pagination-box p {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    color: var(--color-primary);
}
.dsmovie-pagination-box button:disabled{
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--text-light-gray);
    background-color: #fff;
}